.post-container {
  width: calc(100% - 240px);
  height: calc(100vh - 96px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: #179bae;
  position: relative;
}

.post-bottom {
  bottom: 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

table {
  width: 100%;
  border: 1px solid black;
}

.post-table-head {
  border: 1px solid black;
}
