.sideNavBar {
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 100vh;
    background-color: #FF8343;
}

.sideNavBtn {
  border: transparent;
  font-size: 18px;
  padding: 12px;
  padding-left: 38px;
  text-align: left;
  gap: 12px;
  background-color: #FF8343;
}

.sideNavBtn svg {
  margin-right: 12px;
}

.sideNavBtn.active {
  background-color: #FB773C;
  font-weight: bold;
}

.logoText {
  font-weight: 900;
}
